header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    color: rgb(255, 255, 255);
    background: black;
    font: normal 15px monospace;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font: normal 25px monospace;
    color: rgb(0, 0, 0);
} 